body, html {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    background-color: #0c0a09; /* Set background color directly */
    margin: 0;
    padding: 0;
}

canvas {
    display: block; /* Remove any default spacing */
    background-color: #0c0a09; /* Dark background */
} 